<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListExamensTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <p:dataTable value="#{examensController.items}" paginator="true" rows="10" var="item" style="border:solid 1px">
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListExamensTitle_idExamen}"/>
                        </f:facet>
                        <h:outputText value="#{item.idExamen}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListExamensTitle_nom}"/>
                        </f:facet>
                        <h:outputText value="#{item.nom}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListExamensTitle_matiere}"/>
                        </f:facet>
                        <h:outputText value="#{item.matiere}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="#{bundle.ListExamensTitle_nombreQuestions}"/>
                        </f:facet>
                        <h:outputText value="#{item.nombreQuestions}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="&nbsp;"/>
                        </f:facet>
                        <h:commandLink action="#{examensController.prepareView}" value="#{bundle.ListExamensViewLink}"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#{examensController.prepareEdit}" value="#{bundle.ListExamensEditLink}"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#{examensController.destroy}" value="#{bundle.ListExamensDestroyLink}"/>
                        
                       
                    </p:column>
                </p:dataTable>
                <h:commandLink value="Voir les questions avec les bonnes reponse" action="/jsf/reponses/BonneReponse" />
                <br />
               
                
                <br />
                <br />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
