<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
     <f:metadata >
                <f:viewParam name="id" value="#{passerunexamenController.examenId}" required="true"/>
                <f:viewAction action="#{passerunexamenController.loadExamens()}"/>
            </f:metadata>
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <f:view>
           

            <h:form>
                <h1><h:outputText value="List"/></h1>
                <p:dataTable value="#{passerunexamenController.questions}" var="item" paginator="true" rows="1">
                    <h:column>
                        <f:facet name="header">
                        </f:facet>
                        <h:outputText value="Question"/>
                        <h:outputText value="#{item.question}"/>
                        <h:outputText value="Consigne"/>
                        <h:outputText value="#{item.consigne}"/>
                        <h:outputText value="IdExamen"/>
                        <h:outputText value="#{item.idExamen}"/>
                    </h:column>
                </p:dataTable>
                
            </h:form>
        </f:view>

    </h:body>
</html>

