<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditQuestionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditQuestionsLabel_idQuestions}" for="idQuestions" />
                    <h:inputText id="idQuestions" value="#{questionsController.selected.idQuestions}" title="#{bundle.EditQuestionsTitle_idQuestions}" required="true" requiredMessage="#{bundle.EditQuestionsRequiredMessage_idQuestions}"/>
                    <h:outputLabel value="#{bundle.EditQuestionsLabel_question}" for="question" />
                    <h:inputText id="question" value="#{questionsController.selected.question}" title="#{bundle.EditQuestionsTitle_question}" required="true" requiredMessage="#{bundle.EditQuestionsRequiredMessage_question}"/>
                    <h:outputLabel value="#{bundle.EditQuestionsLabel_consigne}" for="consigne" />
                    <h:inputText id="consigne" value="#{questionsController.selected.consigne}" title="#{bundle.EditQuestionsTitle_consigne}" />
                    <h:outputLabel value="#{bundle.EditQuestionsLabel_idExamen}" for="idExamen" />
                    <h:selectOneMenu id="idExamen" value="#{questionsController.selected.idExamen}" title="#{bundle.EditQuestionsTitle_idExamen}" required="true" requiredMessage="#{bundle.EditQuestionsRequiredMessage_idExamen}">
                        <f:selectItems value="#{examensController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{questionsController.update}" value="#{bundle.EditQuestionsSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditQuestionsViewLink}"/>
                <br />
                <h:commandLink action="#{questionsController.prepareList}" value="#{bundle.EditQuestionsShowAllLink}" immediate="true"/>
                <br />
                <br />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
