<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewQuestionsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewQuestionsLabel_idQuestions}"/>
                    <h:outputText value="#{questionsController.selected.idQuestions}" title="#{bundle.ViewQuestionsTitle_idQuestions}"/>
                    <h:outputText value="#{bundle.ViewQuestionsLabel_question}"/>
                    <h:outputText value="#{questionsController.selected.question}" title="#{bundle.ViewQuestionsTitle_question}"/>
                    <h:outputText value="#{bundle.ViewQuestionsLabel_consigne}"/>
                    <h:outputText value="#{questionsController.selected.consigne}" title="#{bundle.ViewQuestionsTitle_consigne}"/>
                    <h:outputText value="#{bundle.ViewQuestionsLabel_idExamen}"/>
                    <h:outputText value="#{questionsController.selected.idExamen}" title="#{bundle.ViewQuestionsTitle_idExamen}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{questionsController.destroyAndView}" value="#{bundle.ViewQuestionsDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewQuestionsEditLink}"/>
                <br />
                <h:commandLink action="#{questionsController.prepareCreate}" value="#{bundle.ViewQuestionsCreateLink}" />
                <br />
                <h:commandLink action="#{questionsController.prepareList}" value="#{bundle.ViewQuestionsShowAllLink}"/>
                <br />
                <br />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
