<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Connexion</title>
	<h:outputStylesheet library="css" name="jsfcrud.css"/>
    </h:head>
    <h:body>
	<f:view>
	    <h:form>
		<h1><h:outputText value="Connexion"/></h1>
		<h:message for="email" style="color: red;" /> <br/>
		<h:message for="password" style="color: red;" /> <br/>
		<p:panelGrid columns="2">
		    <p:outputLabel value="Email:" for="email" />
		    <p:inputText id="email" value="#{authentificationManagedBean.email}" title="Email" required="true" requiredMessage="The Email field is required."/>
		    <p:outputLabel value="Mot de passe:" for="password" />
		    <p:inputText id="password" value="#{authentificationManagedBean.password}" title="Password" type="password" required="true" requiredMessage="The Password field is required."/>
		</p:panelGrid>
		<br/>
		<h:commandButton id="connect" value="Connexion" action="#{authentificationManagedBean.connect()}" /> &nbsp;&nbsp;
		<h:commandLink action="#{authentificationManagedBean.connectProf()}" value="Accéder en tant que professeur" />
	    </h:form>
	</f:view>

    </h:body>
</html>

