<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title>List des examens</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="List"/></h1>
                <p:dataTable value="#{listExamensController.examens}" var="item">
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="IdExamen"/>
                        </f:facet>
                        <h:outputText value="#{item.idExamen}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Nom"/>
                        </f:facet>
                        <h:outputText value="#{item.nom}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Matiere"/>
                        </f:facet>
                        <h:outputText value="#{item.matiere}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="NombreQuestions"/>
                        </f:facet>
                        <h:outputText value="#{item.nombreQuestions}"/>
                    </p:column>
                      <p:column>
                        <f:facet name="header">
                            <h:outputText value="&nbsp;"/>
                        </f:facet>
			<c:choose>
			    <c:when test="#{authentificationController.etudiant != null}">
				<h:link outcome="#{listExamensController.passer(item.idExamen)}" value="Passer" />

			    </c:when>
			    <c:otherwise>
                                <h:link outcome="#{listExamensController.edit(item.idExamen)}" value="Editer" />
			    </c:otherwise>
			</c:choose>

		    </p:column>
                </p:dataTable>
            </h:form>
        </f:view>

    </h:body>
</html>

