<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
    </h:head>

    <h:body>
        <h:form>
            <p:tabMenu>
                <p:menuitem><a href="/Examen-war/faces/jsf/etudiants/List.xhtml">Etudiants</a></p:menuitem>
                <p:menuitem><a href="/Examen-war/faces/jsf/examens/List.xhtml">Examens</a></p:menuitem>
                <p:menuitem><a href="/Examen-war/faces/jsf/questions/List.xhtml">Questions</a></p:menuitem>
                <p:menuitem><a href="/Examen-war/faces/jsf/reponses/List.xhtml">Reponses</a></p:menuitem>
            </p:tabMenu>
        </h:form>

        <h1>
            <ui:insert name="title">Default Title</ui:insert>
        </h1>
        <p>
            <ui:insert name="body">Default Body</ui:insert>
        </p>
       
    </h:body>

</html>
